.App {
  text-align: center;
  margin: 0 auto;
}

/*    AUTH    */

.LoginContainer, .RegisterContainer {
  width: 50%;
}

.LoginContainer > Form, .RegisterContainer > Form {
  display: flex;
  flex-direction: column;
}

/*    USER    */

.UpdateProfileContainer {
  width: 50%;
}

.UpdateProfileContainer > Form {
  display: flex;
  flex-direction: column;
}

.BasicInfoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.UserProfilePhotoContainer {
  width: 250px;
  height: 250px;
}

.UserProfilePhotoContainer > img {
  height: 100%;
}

.PersonalInfoContainer {
  width: 300px;
  height: 250px;
}

.YourDetails {
  width: 300px;
  height: 250px;
}














