.App {
  text-align: center;
  margin: 0 auto;
}

/*    AUTH    */

.LoginContainer, .RegisterContainer {
  width: 50%;
}

.LoginContainer > Form, .RegisterContainer > Form {
  display: flex;
  flex-direction: column;
}

/*    USER    */

.UpdateProfileContainer {
  width: 50%;
}

.UpdateProfileContainer > Form {
  display: flex;
  flex-direction: column;
}

.UserProfilePhoto {
  height: 250px;
}