/*		HOME 		*/

.HomeFooter {
	background-color: #e27172;
	height: 100px;
}

.HomeContainer > div {
	padding: 50px;
}
.One, .ForJoining, .NoAccount {
	background-color: #f6e6e0;
	color: #935141;
}

.Two, .ForJoining {
	display: flex;
	justify-content: space-between;
}

.AboutUs {
	color: #e27172;
}

.ForJoining {
	flex-direction: column;
}

.ForJoining > div {
	display:  flex;
	color: white;
}

.ForJoining > div > div {
	margin: 10px;
	padding: 15px;
	box-shadow: 0px 7px 7px -4px rgba(0,0,0,0.3);
}

.JTC {
	background-color: #e27172;
}

.JPA {
	background-color: #f1aab7;
}


/*		HEADER 		*/

header {
	display: flex;
	background-color: #f1dbcf;
	justify-content: flex-end;
	
}

.Nav {
	/*background-color: #f1dbcf;*/
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

}

.Nav > a {
	color: #935141;
	font-size: 1.2em;
	margin: 0 15px;
}
