/*		HOME 		*/
.HomeContainer > div {
	padding: 50px;
}
.One, .ForJoining, .NoAccount {
	background-color: #f6e6e0;
	color: #935141;
}

.Two, .ForJoining {
	display: flex;
	justify-content: space-between;
}

.AboutUs {
	color: #e27172;
}

.ForJoining {
	flex-direction: column;
}

.ForJoining > div {
	display:  flex;
	color: white;
}

.ForJoining > div > div {
	margin: 10px;
	padding: 15px;
}

.JTC {
	background-color: #e27172;
}

.JPA {
	background-color: #f1aab7;
}


/*		NAV 		*/
.Nav {
	background-color: #f1dbcf;
	display: flex;
	justify-content: flex-end;

}

.Nav > a {
	color: #935141;
	font-size: 1.2em;
}
